*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/okk
/database/seeders/FacebookConfigSeeder.php
/database/seeders/InstagramConfigSeeder.php
/database/seeders/LinkedinConfigSeeder.php
/database/seeders/TikTokConfigSeeder.php
/database/seeders/ThreadsConfigSeeder.php
/database/seeders/TwitterConfigSeeder.php
/database/seeders/YouTubeConfigSeeder.php
