/node_modules
/public/build
/public/hot
/public/uploads/
/storage/installed
/storage/*.key
/storage/app
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json
/.idea
/.claude
/.vscode
/resources/lang/*.json
/public/storage
/zaiency
/old-doc-zaisub
/doc-autopost
/LMSZAI-LARAVEL
/zaistudy
database/seeders/DummyDataSeeder.php
database/seeders/PermissionSeeder.php
database/seeders/FacebookConfigSeeder.php
database/seeders/TwitterConfigSeeder.php
database/seeders/InstagramConfigSeeder.php
database/seeders/LinkedinConfigSeeder.php
database/seeders/TikTokConfigSeeder.php
database/seeders/YoutubeConfigSeeder.php
database/seeders/ThreadsConfigSeeder.php

debug_url.php
exchange_tiktok_token.php
get_tiktok_url.php
*.md
*.doc
*.docx
*.pdf
*.xls
*.xlsx
*.ppt
*.pptx
*.txt
*.log
.DS_Store
Thumbs.db

package-lock.json
